
.main-body {
    color: black;
    text-align: center;
}

section {
    display: inline-block;
}
.div-tri-head {
    margin: 5px auto;
    width: 95%;
    text-align: center;
}
.sec-tri-head {
    border: 1px solid blue;
    width: 33%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e8f2f9;
    padding: 20px 0 0 0;
}
table {
    width: 80%;
    margin: 40px auto;
    background-color: lightgrey;
    text-align: center;
}
th,
td {
    border: 1px solid black;
}
.rating-table {
    border: 1px solid black;
    
}
.div-things-facts {
    margin: 20px auto;
    width: 80%;
}
.div-things-facts p {
    text-align: center;
    font-weight: 700;
    font-size: 18px; 
}
.sec-things-facts {
    width: 49%;
}

#green-circle,
#purple-box,
#bunny-box {
    display: inline-block;
    height: 200px;
    width: 200px;
}
#green-circle {
    border-radius: 50%;
    background-color: green;
    border: 3px solid black;
}
#purple-box {
    background-color: purple;
    border: 3px solid black;
    float: left;
    margin-left: 25%;
}
#bunny-box {
    background-color: antiquewhite;
    border: 3px solid blue;
    background-image: url("bunny.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: right;
}
.div-art {
    margin: 10px auto;
    width: 80%;
}
.div-spacer {
    display: inline-block;
    width: 33%;
}